body{margin: 0px;
}
.box{
  width: 395px;
  height: 60px;
  border: aquamarine solid 5px;
  text-align: center;
  font-size: 13px;
  background-color: aquamarine;
}
.img-1{
  width: 405px;
  height: 200px;
  
}
.boxtext{
  width:395px;
  heigt:75px;
  border: antiquewhite solid 5px;
  background-color: antiquewhite;
}
.encbezado{
  width: 395px;
  height: 150px;
  border:  aliceblue solid 5px;
  background-color: aliceblue;
}


